<a href="https://colab.research.google.com/github/skeeperloyaltie/my_colabs_R/blob/main/Lynda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from sklearn import datasets 

from sklearn.metrics import confusion_matrix 

from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
data = pd.read_csv("PS4_GamesSales.csv")
data.head()

                        Game    Year  ... Rest of World Global
0         Grand Theft Auto V  2014.0  ...          3.02  19.39
1  Call of Duty: Black Ops 3  2015.0  ...          2.44  15.09
2      Red Dead Redemption 2  2018.0  ...          2.26  13.94
3         Call of Duty: WWII  2017.0  ...          2.12  13.40
4                    FIFA 18  2017.0  ...          1.73  11.80

[5 rows x 9 columns]

In [ ]:
data = pd.DataFrame(data)

In [ ]:
data.shape

(1034, 9)

# Check character

In [ ]:
str(data)

'                                    Game    Year  ... Rest of World Global\n0                     Grand Theft Auto V  2014.0  ...          3.02  19.39\n1              Call of Duty: Black Ops 3  2015.0  ...          2.44  15.09\n2                  Red Dead Redemption 2  2018.0  ...          2.26  13.94\n3                     Call of Duty: WWII  2017.0  ...          2.12  13.40\n4                                FIFA 18  2017.0  ...          1.73  11.80\n...                                  ...     ...  ...           ...    ...\n1029  Fallen Legion: Flames of Rebellion     NaN  ...          0.00   0.00\n1030            Radial G Racing Revolved  2017.0  ...          0.00   0.00\n1031                The Mummy Demastered     NaN  ...          0.00   0.00\n1032          Project Nimbus: Code Mirai     NaN  ...          0.00   0.00\n1033                 Battle Chef Brigade     NaN  ...          0.00   0.00\n\n[1034 rows x 9 columns]'

In [ ]:
data["Game"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
1029    False
1030    False
1031    False
1032    False
1033    False
Name: Game, Length: 1034, dtype: bool

In [ ]:
data["Year"] = data["Year"].fillna(0)

# Convert Year to int

In [ ]:
data["Year"] = data["Year"].astype(int)
data.describe()

              Year  North America  ...  Rest of World       Global
count  1034.000000    1034.000000  ...    1034.000000  1034.000000
mean   1608.483559       0.204613  ...       0.089014     0.576054
std     809.978234       0.563471  ...       0.249410     1.583534
min       0.000000       0.000000  ...       0.000000     0.000000
25%    2014.000000       0.000000  ...       0.000000     0.000000
50%    2016.000000       0.020000  ...       0.010000     0.060000
75%    2017.000000       0.120000  ...       0.050000     0.357500
max    2020.000000       6.180000  ...       3.020000    19.390000

[8 rows x 6 columns]

# Split Data

In [ ]:
train_size = 0.8
valid_size = 0.1
train_index = int(len(data)*train_size)
data.sort_values(by = 'Year', ascending=True, inplace=True)
data_train = data[0:train_index]
data_rem = data[train_index:]
valid_index =int(len(data)*valid_size)
data_valid = data[train_index:train_index+valid_index]
data_test = data[train_index+valid_index:]

In [ ]:
X_train, y_train = data_train.drop(columns='Genre').copy(), data_train['Genre'].copy()
X_valid, y_valid = data_valid.drop(columns='Genre').copy(), data_valid['Genre'].copy()
X_test, y_test = data_test.drop(columns='Genre').copy(), data_test['Genre'].copy()

In [ ]:
X_train

                                         Game  Year  ... Rest of World  Global
1033                      Battle Chef Brigade     0  ...          0.00    0.00
936                               PIX the CAT     0  ...          0.00    0.00
935                                   Ubusuna     0  ...          0.00    0.00
934                                Alienation     0  ...          0.00    0.00
932                         In Space We Brawl     0  ...          0.00    0.00
...                                       ...   ...  ...           ...     ...
602                                  Raiden V  2017  ...          0.01    0.03
230                                   Knack 2  2017  ...          0.07    0.47
198                             Hidden Agenda  2017  ...          0.09    0.59
197                                L.A. Noire  2017  ...          0.10    0.60
199   Call of Duty: Modern Warfare Remastered  2017  ...          0.09    0.58

[827 rows x 8 columns]

In [ ]:
X_test

                                            Game  Year  ... Rest of World  Global
706               One Piece: Unlimited World Red  2017  ...          0.00    0.01
704                               Valhalla Hills  2017  ...          0.00    0.01
593         Shadow Tactics: Blades of the Shogun  2017  ...          0.01    0.04
703  Date-A-Live Twin Edition: Rio Reincarnation  2017  ...          0.00    0.01
702                             Akiba's Trip 2+A  2017  ...          0.00    0.01
..                                           ...   ...  ...           ...     ...
784                          Final Fantasy (PS4)  2020  ...          0.00    0.00
791                     Rocketbirds 2: Evolution  2020  ...          0.00    0.00
792                      Primal Carnage: Genesis  2020  ...          0.00    0.00
782                          Whore of the Orient  2020  ...          0.00    0.00
983                               Atelier Sophie  2020  ...          0.00    0.00

[104 rows x 8 columns]

In [ ]:
y_train

1033       Action
936        Action
935       Shooter
934       Shooter
932       Shooter
          ...
602        Action
230      Platform
198     Adventure
197     Adventure
199       Shooter
Name: Genre, Length: 827, dtype: object